.line-chart-container {
    text-align: center;
    background:  linear-gradient(135deg, #82ca9d, #57b77d);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  